[[define "account"]]
<!DOCTYPE html>
<html>

<head>
    <!-- JQuery -->
    <script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>

    <!-- Custom scripts -->
    <script src="/assets/js/script.js" type="text/javascript"></script>
</head>

<body>
    <h1>학생 비밀번호 변경 페이지</h1>

    <h3>현재 비밀번호</h3>
    <input id="loginPassword" name="loginPassword" type="password">
    <h3>변경할 비밀번호</h3>
    <input id="newPassword" name="newPassword" type="password">
    <h3>변경할 비밀번호 확인</h3>
    <input id="newPasswordCheck" name="newPasswordCheck" type="password">
    <button type="button" onclick="changePassword()">변경</button>

    <script>
        // 비밀번호 변경
        function changePassword() {
            if (document.getElementById("newPassword").value == document.getElementById("newPasswordCheck").value) {
                $.post("/user/account", {
                    loginPassword: document.getElementById("loginPassword").value,
                    newPassword: document.getElementById("newPassword").value,
                }, function (response) {
                    if (response == "success") {
                        location.href = "/user/changeSuccess";
                    } else {
                        alert(response);
                    }
                });
            } else {
                alert("변경할 비밀번호가 일치하지 않습니다");
            }
        }
    </script>
</body>

</html>
[[end]]