[[define "index"]]
<!DOCTYPE html>
<html class="full-html">

<head>
    <!-- Title -->
    <title>CNSA APPLY</title>
    <!-- Icon -->
    <link rel="shortcut icon" href="/assets/img/cnsalogo.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <!-- Font CSS -->
    <link rel="stylesheet" href="/assets/css/font.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
    <!-- JQuery JS -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstarp.min.js"></script>
</head>

<body class="index-background">
    <!-- NAVBAR -->
    <div class="navbar-main">
        <a href="/logout"><img src="/assets/img/logout.png" /></a>
        <a href="/user/">내 정보</a>
        <a href="/" class="text-white">홈</a>
    </div>
    <br />

    <!-- Main Page -->
    <div class="index-middle-block text-center">
        <div>
            <img src="/assets/img/logo-bw.png" class="main-logo" />
        </div>
        <div>
            <h3 class="main-cnsa">충남삼성고등학교</h3>
        </div>
        <div>
            <h1 class="main-form-apply">면학실 장소신청</h1>
        </div>
        <div style="margin-bottom: 90px;">
            <a href="/apply/" class="apply-button">신청하기</a>
        </div>
        <div>
            <a href="/user/history" class="apply-history text-white">신청 내역 확인하기</a>
        </div>
        <br />
    </div>
</body>

</html>
[[end]]