/* 장소신청 내역 */
.apply-list-item {
    margin: 5px;
    text-align: center;
}
.apply-list-item > div {
    float: left;
}
.apply-list-item > div:nth-child(1) {
    width: 100px;
}
.apply-list-item > div:nth-child(2) {
    width: 50px;
}
.apply-list-item > div:nth-child(3) {
    width: 60px;
}
.apply-list-item > div:nth-child(4) {
    width: 50px;
}
.apply-list-item > div:nth-child(5) {
    width: 50px;
}
.apply-list-item > div:nth-child(6) {
    width: 40px;
}

/* 창학관 좌석선택 */
.seat {
    width: 50px;
    height: 50px;
}

.seat.right-end {
    margin-right: 50px; 
}

.seat.left-end {
    margin-left: 50px; 
}
