html, body {
	margin: 0;
	padding: 0;
}

.full-html, .full-html > body {
	width: 100%;
	height: 100%;
}

a {
    color: black !important;
}

    a:hover {
        text-decoration: none !important;
    }


/* 메인페이지 */
.index-background {
    background-image: url("/assets/img/background-horizontal.png");
    background-size: cover;
    width: 100%;
}

.navbar-main {
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 30px;
}

    .navbar-main > a {
        float: right;
        margin-right: 65px;
    }

.index-middle-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-cnsa {
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 25px;
}

.main-form-apply {
    font-size: 80px;
    margin-bottom: 320px;
}

.apply-button {
    color: black;
    background-color: white;
    padding: 35px 120px 35px 120px;
    border-radius: 30px;
    font-size: 50px;
    margin-bottom: 90px;
}

    .apply-button:hover {
        color: black;
    }

.apply-history {
    font-size: 40px;
}

@media (min-width: 1319.98px) {
    .index-background {
        background-image: url("/assets/img/background-vertical.png");
    }

    .navbar-main {
        height: 90px;
        line-height: 90px;
        font-size: 20px;
    }
    
        .navbar-main > a {
            float: right;
            margin-right: 65px;
        }

            .navbar-main > a > img {
                width: 30px;
            }

    .main-logo {
        width: 220px;
    }

    .main-cnsa {
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 35px;
    }
    
    .main-form-apply {
        font-size: 50px;
        margin-bottom: 110px;
    }

    .apply-button {
        color: black;
        background-color: white;
        padding: 20px 80px 20px 80px;
        border-radius: 20px;
        font-size: 30px;
    }

        .apply-button:hover {
            color: black;
        }
        
    .apply-history {
        font-size: 15px;
    }
}
/* NAVBAR */
.navbar {
    height: 80px;
    line-height: 80px;
    width: 100%;
    background-color: white;
    border: solid 1px gray; 
}

        .navbar > div > a {
            color: black;
            text-decoration: none;
        }

.nav-logo { 
    float: left; 
    margin-top: 5px; 
    margin-left: 10px;
}

.nav-brand {
    float: left;
    font-size: 17pt;
    font-weight: bold;
}

.nav-item {
    float: right;
    margin-right: 40px;
}


/* 장소신청 내역 */
.apply-list-item {
    margin: 5px;
    text-align: center;
}
    .apply-list-item > div {
        float: left;
    }
    .apply-list-item > div:nth-child(1) {
        width: 100px;
    }
    .apply-list-item > div:nth-child(2) {
        width: 50px;
    }
    .apply-list-item > div:nth-child(3) {
        width: 60px;
    }
    .apply-list-item > div:nth-child(4) {
        width: 50px;
    }
    .apply-list-item > div:nth-child(5) {
        width: 50px;
    }
    .apply-list-item > div:nth-child(6) {
        width: 40px;
    }

/* 창학관 좌석선택 */
.seat {
    width: 50px;
    height: 50px;
}

    .seat:focus {
        background-color: black;
        color: white;
        border: 0;
    }

    .seat.right-end {
        margin-right: 50px; 
    }

    .seat.left-end {
        margin-left: 50px; 
    }

/* 창학관 구역선택 */
.area {
    width: 80px;
    height: 80px;
}

    .area:focus {
        background-color: black;
        color: white;
        border: 0;
    }
    