[[define "account"]]
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>학생 비밀번호 변경 페이지</h1>
    <form method="POST">
        <h3>현재 비밀번호</h3>
        <input name="loginPassword" type="password">
        <h3>변경할 비밀번호</h3>
        <input name="newPassword" type="password">
        <h3>변경할 비밀번호 확인</h3>
        <input name="newPasswordCheck" type="password">
        <button name="ChangePassword" type="submit">변경</button>
    </form>
    [[if .status]]
    <script>
        alert('[[index . "status"]]');
    </script>
    [[end]]
</body>
</html>
[[end]]