[[define "applyHistory"]]
<!DOCTYPE html>
<html>

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    <!-- Vue.js -->
    <script src="/assets/js/vue.min.js" type="text/javascript"></script>
    <script src="/assets/js/vue-resource.min.js" type="text/javascript"></script>

    <!-- JQuery -->
    <script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
    <h1>신청내역 페이지</h1>
    <div id="apply-list" class="apply-list">
        <div class="apply-list-item">
            <div>날짜</div>
            <div>시간대</div>
            <div>면학실</div>
            <div>구역</div>
            <div>좌석</div>
            <div>취소</div>
        </div>
        <div style="content: ''; display: table; clear: both;"></div>
        <template v-for="(apply, $index) in applys">
            <div class="apply-list-item">
                <div>{{apply.date.substring(0, 10)}}</div>
                <div>{{apply.period == "7" ? "7교시" : apply.period}}</div>
                <div>{{apply.form == "A" ? "창학관" : "자율관"}}</div>
                <div>{{apply.area == "" ? "-" : apply.area}}</div>
                <div>{{apply.seat == "" ? "-" : apply.seat}}</div>
                <div>
                    <button v-on:click="cancelApply($index)">X</button>
                </div>
            </div>
            <div style="content: ''; display: table; clear: both;"></div>
        </template>
    </div>

    <!-- Vue.js Script -->
    <script>
        new Vue({
            el: '#apply-list',

            data: {
                applys: [],
            },

            // This is run whenever the page is loaded to make sure we have a current content list
            created: function () {
                // Use the vue-resource $http client to fetch data from the /contents route
                this.$http.get('/api/getApplys').then(function (response) {
                    this.applys = response.data ? response.data : [];
                });
            },

            methods: {
                cancelApply: function (index) {
                    var formData = new FormData();
                    formData.append('date', this.applys[index].date.substring(0, 10));
                    formData.append('period', this.applys[index].period);
                    this.$http.post('/api/cancelApply', formData).then(function (response) {
                        this.applys.splice(index, 1);
                        console.log("취소완료");
                    }, function (error) {
                        console.log(error);
                    });
                }
            }
        });
    </script>
</body>

</html>
[[end]]