[[define "selectArea"]]
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>구역 선택</h1>
    <a href="/apply/selectSeatA" class="[[if (eq .gender 0)]]disabled[[end]]">A 구역</a>  
    <br/>
    <br/>
    <a href="/apply/selectSeatB" class="[[if (eq .gender 0)]]disabled[[end]]">B 구역</a>
    <br/>
    <br/>
    <a href="/apply/selectSeatC" class="[[if (eq .gender 0)]]disabled[[end]]">C 구역</a>
    <br/>
    <br/>
    <a href="/apply/selectSeatD" class="[[if (eq .gender 0)]]disabled[[end]]">D 구역</a>
    <br/>
    <br/>
    <a href="/apply/selectSeatE" class="[[if (eq .gender 1)]]disabled[[end]]">E 구역</a>
    <br/>
    <br/>
    <a href="/apply/selectSeatF" class="[[if (eq .gender 1)]]disabled[[end]]">F 구역</a>
    <br/>
    <br/>
    <a href="/apply/selectSeatG" class="[[if (eq .gender 1)]]disabled[[end]]">G 구역</a>
    <br/>
    <br/>
</body>
</html>
[[end]]